*.pyc
.DS_Store
*.pkl
*.pt
*.dat
.ipynb_checkpoints
cache*
*.pkl
*.ply

/flagged/
/preprocess/checkpoints/
/preprocess/inputs/
/preprocess/BFM/
/preprocess/temp/
/inversion/networks/
/inversion/embeddings/
/inversion/out/
/inversion/pretrained_models/