*.pyc
.DS_Store
*.pkl
*.pt
*.dat
.ipynb_checkpoints
cache*
*.pkl
*.ply

/flagged/
/preprocess/checkpoints/
/preprocess/inputs/
/preprocess/BFM/
/preprocess/temp/
/inversion/networks/
/inversion/embeddings/
/inversion/out/
/inversion/pretrained_models/
/inversion/styleclip_output/
/inversion/results/
/inversion/styleclip_temp/
/inversion/webui_out/
/inversion/video_out/
/inversion/*.mp4
/evaluate/img/
/evaluate/style_img/
/evaluate/res/
/evaluate/clip_score/
/evaluate/mix/
/evaluate/self_com/
/evaluate/clip_text/
/evaluate/img_temp/
/evaluate/*.ipynb
/inversion/pos_pic/
/inversion/video_test/
